@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 80px;
    background: #4800ff;
    color: #fff;
    padding: 20px;
    position: relative;
    top: 65px;
}

    .sidebar nav a {
        display: block;
        color: #fff;
        padding: 10px;
        text-decoration: none;
        font-size: 22px;
        margin-bottom: 10px;
    }

.logo {
    text-align: left;
}
header {
    width: 100%;
    z-index: 111;
    display: block;
    position: relative;
    box-shadow: 1px 1px 4px 0 #e4e4e4;
    padding: 10px;
    margin-bottom: 20px;
    height: 65px;
}


.main{
    flex: 1;
   
}
.main-content {
    background: #f8f8f8;
    padding: 20px;
}
.main ul li{
    list-style: none;
}
.card h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
}
.card-header {
    padding: 20px;
}

.form-wrapper {
    background: #f3f9ff;
    padding: 20px;
}

.form label {
    font-size: 16px;
    margin-bottom: 10px;
}
.form label span{
    color: #ff0000;
}
.btn-clear{
    color: #4800ff;
}

.table-wrapper{
    padding: 20px;
}
.breadcrumbs .bread-crumbs a {
    text-decoration: none;
    margin-bottom: 10px;
    padding: 9px 9px;
}